/* Reglas de reseteo */
/* html{
    overflow-x: hidden;
    width: 100vw;
} */
/* --------------- */
 * {
    margin: 0;
} 
.hero{
    background-image: url("/img/hero.jpg");
    background-position: center;
    /* cubre todo el ancho y alto de la imagen */
    background-size: cover;
    /* con "vh" se recorta al tamaño responsive */
    /* height: 70vw; */
    /* ---------------------- */
    /* primer valor (minimo valor) el de medio 
    es lo general, ultimo valor (maximo valor) */
    height: clamp(200px, 80vw, 80vh);
    position: relative;
}

.hero-title{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    /* tamaño de la letra */
    font-size: 36px;
    /* empuja desde la derecha */
    margin-right: 20px;
}

.hero-text{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    /* fondo del texto */
    background-color:#729afe7e ;
    /* extender el fondo */
    padding: 10px;
    color: white;
    margin-left: 20px;
}

.sobremi {
    background-color: #7299fe;
    height: clamp(200px, 100vh);   
}

.sobremi-titulo{
    color: #1D06A7;
    text-align: center;
}
.sobremi-parrafo{
    color: white;
}

/* Para el elemento <progress> */
progress {
    appearance: none;
}

progress::-webkit-progress-bar {
    border-radius: 10em;
    background: rgb(217,217,217);
}

progress::-webkit-progress-value{
    border-radius: 10em;
    background: #57EFF9;
}

.skills {
    background-color: #9022FF;
    /* Width: 960px;
    Height: 424px;
    Top: 949px; */
}
.skills-title {
    color: #26CC4B;
    text-align: center;
}

.wrapper-mis-skills {
    /* forma de grilla */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;;
}

.wrapper-mis-skills section {
    margin-bottom: 20px;
}
.portafolio {
    background-color: #FFD233;
}

.portafolio img {
    width: 80%; 
    margin-bottom: 30px;
}
.portafolio-title{
    color: #00AD84;
    text-align: center;
}

.wrapper-portafolio section {
    margin-bottom: 20px;
}
.wrapper-portafolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.clientes {
    background-color: #3F4E62;
}
.clientes-title{
    color: #ADFF28;
    text-align: center;
}
.clientes img {
    width: 100px;
    margin-bottom: 30px;
}

.wrapper-clientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;

}

.contacto {
    background-color: #1687A0;
}
.contacto-title {
    color: #FF1B1B;
    text-align: center;
}